{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
    <div class="main_content">
        <div class="video_upload_content">
            <h1>Upload your video feed</h1>
        </div>
        <div class="secondary_content">
            <div class="number_plate_output_text_content"></div>
            <div class="video_resizer_content"></div>
        </div>
        
        
    </div>
</body>
</html>